[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.1"
djangorestframework = "==3.14.0"
selenium = "==4.9.0"
django-cors-headers = "==4.0.0"

[dev-packages]

[requires]
python_version = "3.11"
