
.card{
    width: 15rem;
    border-style: bold;
    border-radius: 10% 10% 10% 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 4px 8px -2px rgba(0,0,0,0.73);
    -webkit-box-shadow: 5px 4px 8px -2px rgba(0,0,0,0.73);
    -moz-box-shadow: 5px 4px 8px -2px rgba(0,0,0,0.73);
    transform: scale(1.05);
}

.imgholder{
    width:15rem;
    height:20rem;
}
img{
    width:100%;
    height:20rem;
    object-fit: fill;
}


  

  
  