
.card{
    width: 15rem;
    border-style: bold;
    border-radius: 10% 10% 10% 10%;
}
.imgholder{
    width:15rem;
    height:20rem;
}
img{
    width:15rem;
    height:20rem;
    object-fit: fill;
}